<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

    <servlet>
		<servlet-name>CheckQuestionStatus</servlet-name>
		<servlet-class>com.cmu.action.CheckQuestionStatus</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckSubmitStatus</servlet-name>
		<servlet-class>com.cmu.action.CheckSubmitStatus</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateRoom</servlet-name>
		<servlet-class>com.cmu.action.CreateRoom</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExitRoom</servlet-name>
		<servlet-class>com.cmu.action.ExitRoom</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetRoomInfo</servlet-name>
		<servlet-class>com.cmu.action.GetRoomInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GiveUpLeader</servlet-name>
		<servlet-class>com.cmu.action.GiveUpLeader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JoinRoom</servlet-name>
		<servlet-class>com.cmu.action.JoinRoom</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.cmu.action.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PickLeader</servlet-name>
		<servlet-class>com.cmu.action.PickLeader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.cmu.action.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StartNewRound</servlet-name>
		<servlet-class>com.cmu.action.StartNewRound</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SubmitQuestion</servlet-name>
		<servlet-class>com.cmu.action.SubmitQuestion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SubmitVote</servlet-name>
		<servlet-class>com.cmu.action.SubmitVote</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SubmitVote</servlet-name>
		<url-pattern>/SubmitVote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubmitQuestion</servlet-name>
		<url-pattern>/SubmitQuestion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StartNewRound</servlet-name>
		<url-pattern>/StartNewRound</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PickLeader</servlet-name>
		<url-pattern>/PickLeader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JoinRoom</servlet-name>
		<url-pattern>/JoinRoom</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GiveUpLeader</servlet-name>
		<url-pattern>/GiveUpLeader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetRoomInfo</servlet-name>
		<url-pattern>/GetRoomInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExitRoom</servlet-name>
		<url-pattern>/ExitRoom</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateRoom</servlet-name>
		<url-pattern>/CreateRoom</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckSubmitStatus</servlet-name>
		<url-pattern>/CheckSubmitStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckQuestionStatus</servlet-name>
		<url-pattern>/CheckQuestionStatus</url-pattern>
	</servlet-mapping>
</web-app>
